Source: ros-indigo-locomove-base
Section: misc
Priority: extra
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-locomotor, ros-indigo-move-base-msgs, ros-indigo-nav-2d-utils, ros-indigo-nav-core, ros-indigo-nav-core-adapter, ros-indigo-roslint
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-locomove-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-locomotor, ros-indigo-move-base-msgs, ros-indigo-nav-2d-utils, ros-indigo-nav-core, ros-indigo-nav-core-adapter
Description: Extension of locomotor that implements move_base's functionality.
